# 这里是练习代码，正式代码在下文

In [7]:
import netCDF4 as nc
import numpy as np
import pandas as pd

# 训练数据

In [9]:
FILEPATH = 'data/SODA_train.nc'
FILE = nc.Dataset(FILEPATH)

In [10]:
FILE

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    dimensions(sizes): year(100), month(36), lat(24), lon(72)
    variables(dimensions): float32 sst(year, month, lat, lon), float32 t300(year, month, lat, lon), float64 ua(year, month, lat, lon), float64 va(year, month, lat, lon), int32 year(year), int32 month(month), float64 lat(lat), float64 lon(lon)
    groups:

### 变量含义：温度异常，热含量异常，纬向风异常，经向风异常，年，月，经度，纬度

In [11]:
FILE.variables.keys()

dict_keys(['sst', 't300', 'ua', 'va', 'year', 'month', 'lat', 'lon'])

### 数据维度 ：year, month, lat, lon

In [12]:
FILE.variables

{'sst': <class 'netCDF4._netCDF4.Variable'>
 float32 sst(year, month, lat, lon)
     _FillValue: nan
 unlimited dimensions:
 current shape = (100, 36, 24, 72)
 filling on, 't300': <class 'netCDF4._netCDF4.Variable'>
 float32 t300(year, month, lat, lon)
     _FillValue: nan
 unlimited dimensions:
 current shape = (100, 36, 24, 72)
 filling on, 'ua': <class 'netCDF4._netCDF4.Variable'>
 float64 ua(year, month, lat, lon)
     _FillValue: nan
 unlimited dimensions:
 current shape = (100, 36, 24, 72)
 filling on, 'va': <class 'netCDF4._netCDF4.Variable'>
 float64 va(year, month, lat, lon)
     _FillValue: nan
 unlimited dimensions:
 current shape = (100, 36, 24, 72)
 filling on, 'year': <class 'netCDF4._netCDF4.Variable'>
 int32 year(year)
 unlimited dimensions:
 current shape = (100,)
 filling on, default _FillValue of -2147483647 used, 'month': <class 'netCDF4._netCDF4.Variable'>
 int32 month(month)
 unlimited dimensions:
 current shape = (36,)
 filling on, default _FillValue of -2147483647 used, 'lat': <class 'netCDF4._netCDF4.Variable'>
 float64 lat(lat)
     _FillValue: nan
 unlimited dimensions:
 current shape = (24,)
 filling on, 'lon': <class 'netCDF4._netCDF4.Variable'>
 float64 lon(lon)
     _FillValue: nan
 unlimited dimensions:
 current shape = (72,)
 filling on}

### 查看温度异常数据

In [13]:
sst = FILE['sst']

In [14]:
sst

<class 'netCDF4._netCDF4.Variable'>
float32 sst(year, month, lat, lon)
    _FillValue: nan
unlimited dimensions:
current shape = (100, 36, 24, 72)
filling on

In [15]:
sst_data = sst[:]

In [16]:
sst_data.shape

(100, 36, 24, 72)

### 取出这个维度的数据

另外，如果数据异常，则：真实值 = 打包值 * scale_factor + add_offset

In [18]:
sst_data[0, 0, 1, 1]

1.6091517

### 纬度数据

南纬是负，北纬是正，东经是正，西经是负

In [19]:
lat_data = FILE.variables['lat'][:]

In [20]:
lat_data.shape

(24,)

In [22]:
lat_data

masked_array(data=[-55., -50., -45., -40., -35., -30., -25., -20., -15.,
                   -10.,  -5.,   0.,   5.,  10.,  15.,  20.,  25.,  30.,
                    35.,  40.,  45.,  50.,  55.,  60.],
             mask=False,
       fill_value=1e+20)

### 经度数据

In [24]:
lon = FILE.variables['lon'][:]
lon.shape
lon

masked_array(data=[  0.,   5.,  10.,  15.,  20.,  25.,  30.,  35.,  40.,
                    45.,  50.,  55.,  60.,  65.,  70.,  75.,  80.,  85.,
                    90.,  95., 100., 105., 110., 115., 120., 125., 130.,
                   135., 140., 145., 150., 155., 160., 165., 170., 175.,
                   180., 185., 190., 195., 200., 205., 210., 215., 220.,
                   225., 230., 235., 240., 245., 250., 255., 260., 265.,
                   270., 275., 280., 285., 290., 295., 300., 305., 310.,
                   315., 320., 325., 330., 335., 340., 345., 350., 355.],
             mask=False,
       fill_value=1e+20)

### 年份

注意：15 个为一组模式

In [26]:
year_data = FILE.variables['year'][:]

In [27]:
year_data.shape
year_data

masked_array(data=[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,
                    12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,
                    23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,
                    34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,
                    45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,
                    56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,
                    67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
                    78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,
                    89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99,
                   100],
             mask=False,
       fill_value=999999)

# 测试数据

In [31]:
LABELPATH = 'data/SODA_label.nc'
LAEBL_FILE = nc.Dataset(LABELPATH)

In [32]:
LAEBL_FILE

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    dimensions(sizes): year(100), month(36)
    variables(dimensions): float64 nino(year, month), int32 year(year), int32 month(month)
    groups:

In [34]:
LAEBL_FILE.variables.keys()

dict_keys(['nino', 'year', 'month'])

In [35]:
nino_data = LAEBL_FILE.variables['nino'][:]

In [37]:
nino_data.shape

(100, 36)

### 第一年，第一个模式，这 36 个月的异常指数

In [44]:
nino_data[0]

masked_array(data=[-0.40720701, -0.20244436, -0.10386104, -0.02910841,
                   -0.13252996, -0.25527564, -0.3326247 , -0.26293179,
                   -0.08058987,  0.10612228,  0.21165498,  0.16504486,
                    0.06697161,  0.00999126, -0.00164753, -0.06598581,
                   -0.14728385, -0.1915542 , -0.17029583, -0.19376083,
                   -0.27808595, -0.39393583, -0.49975768, -0.58400702,
                   -0.73201811, -0.72508991, -0.58416802, -0.31754819,
                   -0.12046373, -0.03802495,  0.013173  ,  0.06823147,
                    0.0597352 ,  0.02755602,  0.011619  , -0.04931002],
             mask=False,
       fill_value=1e+20)

# 待做

- [ ] 填充数据的处理，或者说，看看有多少填充数据，如何处理这些数据

# 正式代码

In [13]:
import netCDF4 as nc
import numpy as np
import pandas as pd
from collections import Counter

In [2]:
FILEPATH = 'data/SODA_train.nc'
FILE = nc.Dataset(FILEPATH)

## 查看数据维度

In [10]:
for key in FILE.variables.keys():
    print('{:<5}'.format(key), end=' data shape is : ')
    print(FILE.variables[key][:].shape)

sst   data shape is : (100, 36, 24, 72)
t300  data shape is : (100, 36, 24, 72)
ua    data shape is : (100, 36, 24, 72)
va    data shape is : (100, 36, 24, 72)
year  data shape is : (100,)
month data shape is : (36,)
lat   data shape is : (24,)
lon   data shape is : (72,)

## 年份处理

有无填充值

In [77]:
for key in FILE.variables.keys():
    a = FILE[key]
    if hasattr(a, '_FillValue'):
        print('{:<5} has filled value, which is {}'.format(key, a._FillValue))
    else:
        print('{:<5} doesn\'t has filled value'.format(key))

sst   has filled value, which is nan
t300  has filled value, which is nan
ua    has filled value, which is nan
va    has filled value, which is nan
year  doesn't has filled value
month doesn't has filled value
lat   has filled value, which is nan
lon   has filled value, which is nan

查看数据一共有多少年的

In [20]:
year_data = np.array(FILE.variables['year'][:])
print("{} years in total.".format(np.max(year_data) - np.min(year_data) + 1))

100 years in total.

有无重复年

In [16]:
year_cnt = Counter(year_data.flatten())
year_flag = 0
for key, value in year_cnt.items():
    if value > 1:
        year_flag = 1
        print("{} appears {} times".format(key, value))
if year_flag == 0:
    print('All year variables appear once. ')

All year variables appear once.

## 月份处理

内容同上

In [19]:
month_data = np.array(FILE.variables['month'][:])
print("{} months in total.".format(np.max(month_data) - np.min(month_data) + 1))

36 months in total.

In [21]:
month_cnt = Counter(month_data.flatten())
month_flag = 0
for key, value in month_cnt.items():
    if value > 1:
        month_flag = 1
        print("{} appears {} times".format(key, value))
if month_flag == 0:
    print('All month variables appear once. ')

All month variables appear once.

## 经度处理

In [47]:
lon_data = pd.DataFrame({'value' : np.array(FILE.variables['lon'][:])})
# 经度分为 10 个区间
quartiles = pd.cut(lon_data.value, 10, precision=0)

    value
0     0.0
1     5.0
2    10.0
3    15.0
4    20.0
..    ...
67  335.0
68  340.0
69  345.0
70  350.0
71  355.0

[72 rows x 1 columns]

In [48]:
lon_grouped = lon_data.value.groupby(quartiles)
def get_status(group):
    return {'distribution : ' : group.count()}
print('longitude distribution is : ')
print(lon_grouped.apply(get_status).unstack())

longitude distribution is :
                distribution :
value
(-0.0, 36.0]                  8
(36.0, 71.0]                  7
(71.0, 106.0]                 7
(106.0, 142.0]                7
(142.0, 178.0]                7
(178.0, 213.0]                7
(213.0, 248.0]                7
(248.0, 284.0]                7
(284.0, 320.0]                7
(320.0, 355.0]                8

## 纬度处理

In [49]:
lat_data = pd.DataFrame({'value' : np.array(FILE.variables['lat'][:])})
# 纬度分为 10 个区间
quartiles = pd.cut(lat_data.value, 10, precision=0)

In [50]:
lat_grouped = lat_data.value.groupby(quartiles)
print('latitude distribution is : ')
print(lat_grouped.apply(get_status).unstack())

latitude distribution is :
                distribution :
value
(-55.0, -44.0]                3
(-44.0, -32.0]                2
(-32.0, -20.0]                2
(-20.0, -9.0]                 3
(-9.0, 2.0]                   2
(2.0, 14.0]                   2
(14.0, 26.0]                  3
(26.0, 37.0]                  2
(37.0, 48.0]                  2
(48.0, 60.0]                  3

## 温度异常处理

In [90]:
sst_data = np.array(FILE.variables['sst'][:])
sst_data = sst_data.flatten()
print('The number of sst is {}'.format(len(sst_data)))

The number of sst is 6220800
(6220800,)

In [91]:
sst_data = pd.DataFrame({'value' : sst_data})
quartiles = pd.cut(sst_data.value, 10, precision=0)
sst_grouped = sst_data.value.groupby(quartiles)
print('sst data distribution is : ')
print(sst_grouped.apply(get_status).unstack())

sst data distribution is :
              distribution :
value
(-8.0, -6.0]               26
(-6.0, -5.0]              175
(-5.0, -3.0]             2547
(-3.0, -2.0]            56830
(-2.0, -0.0]          1759244
(-0.0, 1.0]           4243581
(1.0, 3.0]             150516
(3.0, 4.0]               7450
(4.0, 6.0]                363
(6.0, 7.0]                 68

## 热含量异常处理

In [95]:
t300_data = np.array(FILE.variables['t300'][:])
t300_data = t300_data.flatten()
print('The number of t300 is {}'.format(len(t300_data)))

The number of sst is 6220800

In [96]:
t300_data = pd.DataFrame({'value' : t300_data})
quartiles = pd.cut(t300_data.value, 10, precision=0)
t300_grouped = t300_data.value.groupby(quartiles)
print('t300 data distribution is : ')
print(t300_grouped.apply(get_status).unstack())

t300 data distribution is :
              distribution :
value
(-6.0, -4.0]               60
(-4.0, -3.0]              738
(-3.0, -2.0]             9315
(-2.0, -0.0]           546861
(-0.0, 1.0]           5574643
(1.0, 2.0]              85249
(2.0, 3.0]               3221
(3.0, 5.0]                479
(5.0, 6.0]                185
(6.0, 7.0]                 49

## 纬向风异常处理

In [98]:
ua_data = np.array(FILE.variables['ua'][:])
ua_data = ua_data.flatten()
print('The number of ua is {}'.format(len(ua_data)))

The number of sst is 6220800

In [99]:
ua_data = pd.DataFrame({'value' : ua_data})
quartiles = pd.cut(ua_data.value, 10, precision=0)
ua_grouped = ua_data.value.groupby(quartiles)
print('ua data distribution is : ')
print(ua_grouped.apply(get_status).unstack())

ua data distribution is :
                distribution :
value
(-13.0, -11.0]              111
(-11.0, -8.0]               750
(-8.0, -6.0]               6101
(-6.0, -3.0]              72193
(-3.0, -1.0]            1326811
(-1.0, 2.0]             4482793
(2.0, 4.0]               311413
(4.0, 7.0]                19408
(7.0, 10.0]                1181
(10.0, 12.0]                 39

## 经向风异常

In [102]:
va_data = np.array(FILE.variables['va'][:])
va_data = va_data.flatten()
print('The number of va is {}'.format(len(va_data)))

The number of va is 6220800

In [101]:
va_data = pd.DataFrame({'value' : va_data})
quartiles = pd.cut(va_data.value, 10, precision=0)
va_grouped = va_data.value.groupby(quartiles)
print('va data distribution is : ')
print(va_grouped.apply(get_status).unstack())

va data distribution is :
               distribution :
value
(-12.0, -9.0]               18
(-9.0, -7.0]               399
(-7.0, -5.0]              4988
(-5.0, -2.0]             92072
(-2.0, 0.0]            3485534
(0.0, 2.0]             2568450
(2.0, 5.0]               65980
(5.0, 7.0]                3221
(7.0, 9.0]                 135
(9.0, 12.0]                  3